<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="msc.project.foodmate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/foodmate_icon"
        android:label="@string/app_name"
        android:logo="@drawable/foodmate_logo2"
        android:supportsRtl="true">
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Main"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".RestaurantMain"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".CuisineDetails"
            android:label="@string/cuisinesDetails"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Guest"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GuestResults"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".GuestCuisineDetails"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>